<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.fastnd.fastnd" version="1.0.1">
	<name>FastND</name>

	<description>
		FastND is an application for finance professionals, giving you access to news and data you require.
	</description>

	<author href="https://fastnd.com" email="info@fastnd.com">
		FastND
	</author>

	<preference name="permissions" value="none" />
	
	<!-- Allow all requests -->
	<access origin="*" />
	
	<!-- childbrowser plugin -->
	<feature name="http://plugins.phonegap.com/ChildBrowser/2.0.1" />
	
	<preference name="prerendered-icon" value="true" />
	
	<icon src="images/fastnd-icon.png" />
	
	<!-- Icons -->
	<icon src="images/fastnd-icon.png" width="57" height="57"/>
	<icon src="images/fastnd-icon-72.png" width="72" height="72"/>
	<icon src="images/fastnd-icon-114.png" width="114" height="114"/>

	<!-- Splash Screens -->
	<gap:splash src="images/startup.png" />
	<gap:splash src="images/startup.png" width="320" height="480" />
	<gap:splash src="images/startup-retina.png" width="640" height="960"/>
	<gap:splash src="images/startup-tablet-portrait.png" width="768" height="1004" />
	<gap:splash src="images/startup-tablet-landscape.png" width="1024" height="748" />
</widget>